:root {
  --background-color-light: #ebf7f8;
  --text-color-light: #49708a;
  --primary-color-light: #caff42;
  --secondary-color-light: #d0e0eb;

  --background-color-dark: #49708a;
  --text-color-dark: #ebf7f8;
  --primary-color-dark: #caff42;
  --secondary-color-dark: #88abc2;

}

body.light-mode {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);

}

body.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
}
/* 
#caff42
#ebf7f8
#d0e0eb
#88abc2
#49708a
*/
